.portfolio-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.portfolio-item {
  /* position: relative; */
  width: 30%;
  min-height: 300px;
  margin-bottom: 25px;
}
.portfolio-item img {
  /* position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; */
}
