.flip {
  perspective: 700px;
  padding: 0 20px;
}
.work-item {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 25px;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.work-item:hover {
  transform: rotateY(180deg);
}
.work-face {
  position: absolute;
  top: 0;
  bottom: 0;
  backface-visibility: hidden;
}
.work-face.back {
  transform: rotateY(180deg);
}
.work-descr {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0 5px;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease;
  transform: scale(0);
  background-color: #222222;
}
.work-item img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.work-title {
  display: inline-block;
  font-size: 20px;
  color: #ff8000;
  font-weight: 600;
  margin-bottom: 10px;
}
.work-skills {
  color: #ffffff;
  margin-bottom: 10px;
}
.work-repo {
  position: relative;
  color: #ff8000;
  font-weight: 600;
}
.work-repo:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  transform: scale(0);
  background-color: #ffffff;
  transition: 0.4s ease;
}
.work-repo:hover.work-repo:after {
  transform: scale(1);
}

@media (max-width: 1000px) {
  .work-item {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .work-item {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 670px) {
  .work-item {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .work-item {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 400px) {
  .work-item {
    width: 270px;
    height: 270px;
  }
}
