.name {
  font-size: 70px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: contain;
  color: white;
  background-image: url(./name-bg.jpg);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.name-top {
  display: block;
  text-align: left;
}
.name-bottom {
  display: block;
  text-align: right;
}
.text-intro {
  font-size: 34px;
  margin-top: 25px;
  color: #ff8000;
}
.c-white {
  color: #ffffff;
}
.work-position {
  text-shadow: 0px 0px 7px #ffffff;
}
@media (max-width: 768px) {
  .introduction-page .social-list {
    justify-content: flex-start;
  }
  .text-intro {
    text-align: left;
  }
  .work-position {
    display: block;
  }
}
