.name {
  font-size: 70px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: contain;
  color: white;
  background-image: url(./name-bg.jpg);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.name-top {
  display: block;
  text-align: left;
}
.name-top::after {
}
.name-bottom {
  display: block;
  text-align: right;
}
.introduction {
  font-size: 34px;
  margin-top: 25px;
  color: #ff8000;
}
.c-white {
  color: #ffffff;
}
